<table class="table">
    <thead class="table-head">
        <tr>
            <th scope="col">Nom du paquet</th>
            <th scope="col">Description</th>
            <th scope="col">Date de la dernière Modification</th>
            <th scope="col">Date du dernier Quiz</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor='let record of records'>
        <tr>
            <td class="vertical-middle record-name table-cell">{{record.name}} </td> 
            <td class="vertical-middle record-name table-cell">{{record.description}}</td>
            <td class="vertical-middle record-name table-cell">{{record.lastModification}}</td>
            <td class="vertical-middle record-name table-cell">{{record.lastQuiz}}</td> 
            <td class="vertical-middle table-cell">
            <button class="btn btn-danger form-button">
                <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-primary">
                <i class="bi bi-pen"></i>
            </button>
            </td>
        </tr>
    </tbody>
</table>

