<form [formGroup]="addRecordPaquet" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-floating paquet-form-input">
        <input type="text" id="name" name="name" formControlName="name" class="form-control">
        <label for="name" class="form-label"> Nom du Paquet</label>
        <p *ngIf="registerFormControl['name'].touched && registerFormControl['name'].errors">Le nom du paquet ne peut pas être vide</p>
    </div>
    <div class="form-floating">
        <input type="text" id="description" name="description" formControlName="description" class="form-control">
        <label for="description" class="form-label"> Description du paquet</label>
    </div>
    <p>
        <button type="submit" class="btn btn-success add-record-button">{{submitButton}}</button>
    </p>
</form>